body, html {
	margin: 0;
	padding: 0;
	background-color: #b0bbc4;
	font-family: 'Muli', sans-serif;
}

#chart1, #chart2 {
}

.heatmap-row {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.hidden {
	display: none;
}

.piediv g {
	cursor: pointer;
}

.piediv {
	display: inline-block;
	width: 300px;
	padding: 10px;
	text-align: center;
}

.tooltip {
	display: none;
	position: absolute;
	z-index: 10;
}

.axis path, .axis line {
	fill: none;
	stroke: none;
}

.axis text, .ylabel {
	font-size: 12px;
}